.error-message-text {
  color: red;
  padding-left: 12px;
}
.manage-title-line {
  background-color: red;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}
.title-line {
  background-color: #1E1E1E;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}
.link {
  color: #1976D2 !important;
  /* transition: all 1s ease 0s !important; */
}
.link:hover {
  text-decoration: underline !important;
}
.link:visited {
  color: #551a8b !important;
}
.col-title {
  font-weight: bold;
}
.date-text * {
  padding-right: 6px;
  text-align: right;
}
.user-thumbnail {
  border-radius: 50% !important;
  width: 30px;
  height: 30px;
  float: left;
}
.v-dialog.dialog-height-100 {
  height: 100%;
}
.back-brain-icon-e {
  background-image: url('~@/static/img/brain-juice-e.png');
  background-size: contain;
  background-position-x: 98%;
  background-color: #1E1E1E;
  color: white;
  font-weight: bold;
}
.h2-title {
  font-weight: bold;
  background-color: #1E1E1E;
  color: white;
  border-bottom: 3px ridge skyblue;
  text-align: center;
  padding: 10px;
  border-radius: 20px;
}
.type {
  color: white;
  font-weight: bold;
  padding: 3px;
  font-size: 80%;
  border-radius: 4px;
}
.widget-item {
  border: 1px solid #333; 
  border-radius: 20px 20px 10px 10px;
}
.required-mark {
  background-color: #ff4500;
    padding: 2px 4px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 14px;
}